<mat-toolbar class="mat-elevation-z6">
  <button mat-icon-button
          (click)="sidenav.toggle()"
          aria-controls="#main-sidenav"
          aria-label="Abrir/cerrar navegación">
    <mat-icon>menu</mat-icon>
  </button>

  <span>Proyecto Alejandría</span>

  <div class="spacer"></div>

  <mat-icon>light_mode</mat-icon>
  <mat-slide-toggle [checked]="darkMode"
                    (toggleChange)="toggleDarkMode()"
                    aria-label="Activar/desactivar modo oscuro"></mat-slide-toggle>
  <mat-icon>dark_mode</mat-icon>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav id="main-sidenav"
               #sidenav
               [mode]="isMobile ? 'over' : 'side'"
               [fixedInViewport]="isMobile"
               fixedTopGap="56"
               [opened]="!isMobile">
    <div class="sidenav">
      <mat-nav-list>
        <span mat-subheader>Navegación</span>

        <a mat-list-item routerLink="/">
          <mat-icon mat-list-icon>home</mat-icon>
          <span mat-line>Inicio</span>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
