:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.mat-toolbar {
  z-index: 2;
}

.mat-sidenav-container {
  flex: 1;
}

.sidenav {
  width: 15rem;
  min-height: 100%;

  .mat-slide-toggle {
    margin: 0 .25rem;
  }
}
