@use 'sass:map';
@use '@angular/material' as mat;

$primary-palette: (
  50: #fff8df,
  100: #ffebaf,
  200: #ffdf7b,
  300: #ffd342,
  400: #FFC800,
  500: #ffbe00,
  600: #ffb000,
  700: #ff9c00,
  800: #ff8a00,
  900: #ff6800,

  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
  )
);

$accent-palette: (
  50: #e9e8ff,
  100: #c7c6ff,
  200: #9ea1ff,
  300: #707bff,
  400: #485aff,
  500: #0037ff,
  600: #002df3,
  700: #001ee6,
  800: #0006dc,
  900: #0000cd,

  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
);

$dark-primary: mat.define-palette($primary-palette, 400);
$dark-accent: mat.define-palette($accent-palette, 300);
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
  )
));

$light-primary: mat.define-palette($primary-palette, 400);
$light-accent: mat.define-palette($accent-palette, 300);
$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
  )
));

@mixin custom($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  $warn-palette: map.get($color-config, 'warn');

  .app-loading-spinner::after {
    $primary-color: mat.get-color-from-palette($primary-palette);
    border-color: $primary-color transparent $primary-color transparent;
  }

  // Utilities
  .text-warn {
    color: mat.get-color-from-palette($warn-palette);
  }
}

@include mat.core();

@include mat.core-theme($dark-theme);
@include mat.all-component-themes($dark-theme);
@include custom($dark-theme);

.light-theme {
  @include mat.core-color($light-theme);
  @include mat.all-component-colors($light-theme);
  @include custom($light-theme);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

  &.app-loading {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(.text-warn) .app-loading-spinner {
      display: inline-block;
    }
  }

  .app-loading-spinner {
    display: none;

    width: 80px;
    height: 80px;

    &::after {
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border-width: 6px;
      border-style: solid;
      animation: loading-spinner-rotation 1.2s linear infinite;
    }

    @keyframes loading-spinner-rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.mat-toolbar {
  .spacer {
    flex: 1 1 auto;
  }
}
